<nav id="header">
  
  <ul>
    <li>
      <a href="#">
        <i class="fa fa-bolt"></i>      
        <span>Actions</span>
        <i class="fa fa-chevron-down arrow"></i>
      </a>
      <ul class="dropdown dd-actions">
        <li>Review Inspections</li>
        <li>Contract Adds</li>
        <li>FAIM Appraisals</li>
        <li>Lot Transfers</li>
        <li>R&R Tracking</li>
        <li>Auction Sequence</li>
        <li>Configure Sale</li>
        <li>Asset Group Code Changes</li>
        <li>Gone To Lot Changes</li>
        <li>Title Changes</li>
        <li>Conflicts</li>
      </ul>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-television"></i>
        <span>Views</span>
        <i class="fa fa-chevron-down arrow"></i>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-pie-chart"></i>
        <span>Reports</span>
        <i class="fa fa-chevron-down arrow"></i>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-cog"></i>
        <span>Manage</span>
        <i class="fa fa-chevron-down arrow"></i>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-info-circle"></i>
        <span>Help</span>
        <i class="fa fa-chevron-down arrow"></i>
      </a>
    </li>
  </ul>
  
</nav>

<div id="tab-bar">
  
</div>