<nav id="header">
  
  <ul>
    <li>
      <a href="#">
        <i class="fa fa-bolt"></i>
        <span>Actions</span>
        <i class="fa fa-chevron-down arrow"></i>
      </a>
      <ul class="dropdown dd-actions">
        <li>
          <a href="##">
            <i class="fa fa-fw fa-search"></i>
            <div class="v-border"></div>
            <span>Review Inspections</span>
          </a>          
        </li>
        <li>
          <a href="##">
            <i class="fa fa-fw fa-plus"></i>
            <div class="v-border"></div>
            <span>Contract Adds</span>
          </a>
        </li>
        <li>
          <a href="##">
            <i class="fa fa-fw fa-tag"></i>
            <div class="v-border"></div>            
            <span>FAIM Appraisals</span>
          </a>
        </li>
        <li>
          <a href="##">
            <i class="fa fa-fw fa-map-signs"></i>
            <div class="v-border"></div>            
            <span>Lot Transfers</span>
          </a>
        </li>
        <li>
          <a href="##">
            <i class="fa fa-fw fa-wrench"></i>
            <div class="v-border"></div>            
            <span>R&R Tracking</span>
          </a>
        </li>
        <li>
          <div class="h-border"></div>
        </li>
        <li>
          <a href="##">
            <i class="fa fa-fw fa-sort-amount-asc"></i>
            <div class="v-border"></div>            
            <span>Auction Sequence</span>
          </a>
        </li>
        <li>
          <a href="##">
            <i class="fa fa-fw fa-pencil-square"></i>
            <div class="v-border"></div>            
            <span>Configure Sale</span>
          </a>
        </li>
        <li>
          <div class="h-border"></div>
        </li>
        <li>
          <a href="##">
            <i class="fa fa-fw fa-refresh"></i>
            <div class="v-border"></div>            
            <span>Asset Group Code Changes</span>
          </a>
        </li>
        <li>
          <a href="##">
            <i class="fa fa-fw fa-refresh"></i>
            <div class="v-border"></div>            
            <span>Gone To Lot Changes</span>
          </a>
        </li>
        <li>
          <a href="##">
            <i class="fa fa-fw fa-refresh"></i>
            <div class="v-border"></div>            
            <span>Title Changes</span>
          </a>
        </li>
        <li>
          <div class="h-border"></div>
        </li>
        <li>
          <a href="##">
            <i class="fa fa-fw  fa-exclamation-triangle"></i>
            <div class="v-border"></div>            
            <span>Conflicts</span>
          </a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-television"></i>
        <span>Views</span>
        <i class="fa fa-chevron-down arrow"></i>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-pie-chart"></i>
        <span>Reports</span>
        <i class="fa fa-chevron-down arrow"></i>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-cog"></i>
        <span>Manage</span>
        <i class="fa fa-chevron-down arrow"></i>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-info-circle"></i>
        <span>Help</span>
        <i class="fa fa-chevron-down arrow"></i>
      </a>
    </li>
  </ul>
  
</nav>

<div id="tab-bar">
  
</div>