<!--header-->
<nav>
  
  <!--header menu items-->
  <ul>
    
    <!--actions-->
    <li>
      <a href="#">
        <i class="fa fa-bolt"></i>
        <span>Actions</span>
        <i class="fa fa-chevron-down arrow"></i>
      </a>
      
      <!--actions dropdown-->
      <ul class="dropdown">
        <li>
          <a href="##">
            <i class="fa fa-fw fa-search"></i>
            <div class="v-border"></div>
            <span>Review Inspections</span>
          </a>          
        </li>
        <li>
          <a href="##">
            <i class="fa fa-fw fa-plus"></i>
            <div class="v-border"></div>
            <span>Contract Adds</span>
          </a>
        </li>
        <li>
          <a href="##">
            <i class="fa fa-fw fa-tag"></i>
            <div class="v-border"></div>            
            <span>FAIM Appraisals</span>
          </a>
        </li>
        <li>
          <a href="##">
            <i class="fa fa-fw fa-map-signs"></i>
            <div class="v-border"></div>            
            <span>Lot Transfers</span>
          </a>
        </li>
        <li>
          <a href="##">
            <i class="fa fa-fw fa-wrench"></i>
            <div class="v-border"></div>            
            <span>R&R Tracking</span>
          </a>
        </li>
        <li>
          <div class="h-border"></div>
        </li>
        <li>
          <a href="##">
            <i class="fa fa-fw fa-sort-amount-asc"></i>
            <div class="v-border"></div>            
            <span>Auction Sequence</span>
          </a>
        </li>
        <li>
          <a href="##">
            <i class="fa fa-fw fa-pencil-square"></i>
            <div class="v-border"></div>            
            <span>Configure Sale</span>
          </a>
        </li>
        <li>
          <div class="h-border"></div>
        </li>
        <li>
          <a href="##">
            <i class="fa fa-fw fa-refresh"></i>
            <div class="v-border"></div>            
            <span>Asset Group Code Changes</span>
          </a>
        </li>
        <li>
          <a href="##">
            <i class="fa fa-fw fa-refresh"></i>
            <div class="v-border"></div>            
            <span>Gone To Lot Changes</span>
          </a>
        </li>
        <li>
          <a href="##">
            <i class="fa fa-fw fa-refresh"></i>
            <div class="v-border"></div>            
            <span>Title Changes</span>
          </a>
        </li>
        <li>
          <div class="h-border"></div>
        </li>
        <li>
          <a href="##">
            <i class="fa fa-fw  fa-exclamation-triangle"></i>
            <div class="v-border"></div>            
            <span>Conflicts</span>
          </a>
        </li>
      </ul>
    </li>
    
    <!--views-->
    <li>
      <a href="#">
        <i class="fa fa-television"></i>
        <span>Views</span>
        <i class="fa fa-chevron-down arrow"></i>
      </a>
      
      <!--views dropdown-->
      <ul class="dropdown">
        <li>
          <a href="##">
            <i class="fa fa-fw fa-th"></i>
            <div class="v-border"></div>
            <span>Photo View</span>
          </a>          
        </li>
        <li>
          <a href="##">
            <i class="fa fa-fw fa-th-list"></i>
            <div class="v-border"></div>
            <span>List View</span>
          </a>          
        </li>
        <li>
          <a href="##">
            <i class="fa fa-fw fa-search"></i>
            <div class="v-border"></div>
            <span>Pending Inspections</span>
          </a>          
        </li>
        <li>
          <a href="##">
            <i class="fa fa-fw fa-lock"></i>
            <div class="v-border"></div>
            <span>Do Not Print</span>
          </a>          
        </li>
        <li>
          <a href="##">
            <i class="fa fa-fw fa-times"></i>
            <div class="v-border"></div>
            <span>Out Of Sale</span>
          </a>          
        </li>
      </ul>
    </li>
    
    <!--reports-->
    <li>
      <a href="#">
        <i class="fa fa-pie-chart"></i>
        <span>Reports</span>
        <i class="fa fa-chevron-down arrow"></i>
      </a>
      
      <!--reports dropdown-->
      <ul class="dropdown">
        <li>
          <a href="##">
            <i class="fa fa-fw fa-calendar-o"></i>
            <div class="v-border"></div>
            <span>Daily</span>
          </a>          
        </li>
        <li>
          <a href="##">
            <i class="fa fa-fw fa-calendar-o"></i>
            <div class="v-border"></div>
            <span>Weekly</span>
          </a>          
        </li>
        <li>
          <div class="h-border"></div>
        </li>
        <li>
          <a href="##">
            <i class="fa fa-fw fa-check"></i>
            <div class="v-border"></div>
            <span>Blank Checklists</span>
          </a>          
        </li>
      </ul>
    </li>
    
    <!--manage-->
    <li>
      <a href="#">
        <i class="fa fa-cog"></i>
        <span>Manage</span>
        <i class="fa fa-chevron-down arrow"></i>
      </a>
      
      <!--manage dropdown-->
      <ul class="dropdown">
        <li>
          <a href="##">
            <i class="fa fa-fw fa-random"></i>
            <div class="v-border"></div>
            <span>Switch Sale</span>
          </a>          
        </li>
        <li>
          <a href="##">
            <i class="fa fa-fw fa-sitemap"></i>
            <div class="v-border"></div>
            <span>Switch Server</span>
          </a>          
        </li>
        <li>
          <div class="h-border"></div>
        </li>
        <li>
          <a href="##">
            <i class="fa fa-fw fa-pencil-square"></i>
            <div class="v-border"></div>
            <span>Manage Sales</span>
          </a>          
        </li>
        <li>
          <div class="h-border"></div>
        </li>
        <li>
          <a href="##">
            <i class="fa fa-fw fa-users"></i>
            <div class="v-border"></div>
            <span>Manage Users</span>
          </a>          
        </li>
        <li>
          <div class="h-border"></div>
        </li>
        <li>
          <a href="##">
            <i class="fa fa-fw fa-flag"></i>
            <div class="v-border"></div>
            <span>Gateway Errors</span>
          </a>          
        </li>
      </ul>
    </li>
    
    <!--help-->
    <li>
      <a href="#">
        <i class="fa fa-info-circle"></i>
        <span>Help</span>
        <i class="fa fa-chevron-down arrow"></i>
      </a>
      
      <!--help dropdown-->
      <ul class="dropdown">
        <li>
          <a href="##">
            <i class="fa fa-fw fa-cube"></i>
            <div class="v-border"></div>
            <span>Equipment Standards</span>
          </a>          
        </li>
        <li>
          <a href="##">
            <i class="fa fa-fw fa-exclamation-triangle"></i>
            <div class="v-border"></div>
            <span>DEI Training</span>
          </a>          
        </li>
        <li>
          <div class="h-border"></div>
        </li>
        <li>
          <a href="##">
            <i class="fa fa-fw fa-info"></i>
            <div class="v-border"></div>
            <span>About DEI3</span>
          </a>          
        </li>
      </ul>
    </li>
  </ul>
  
</nav>

<!--open-tab bar-->
<div id="tab-bar">
  
  <!--dashboard tab-->
  <a href="#" class="tab" id="dashboard-tab">
    <!--<i class="fa fa-fw fa-house"></i>-->
    <span>Dashboard</span>
  </a>
  
  <!--review inspections tab-->
  <a href="#" class="tab" id="dashboard-tab">
    <!--<i class="fa fa-fw fa-house"></i>-->
    <span>Review Inspections</span>
    <a href="##" class="close-tab">
      <!--<i class="fa fa-fw fa-close"></i>          -->
    </a>
  </a>
  
</div>