@import 'variables';

nav ul li:hover > ul {
  display: block;
}

nav ul {
	list-style: none;
	position: relative;
}

nav ul:after {
  content: "";
  clear: both;
  display: block;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
}

nav ul ul {
  display: none;
  border-radius: 0px;
  padding: 0;
  position: absolute;
  top: 100%;
}

nav ul ul li {
  float: none; 
  position: relative;
  background-color: $header-dropdown-color;
}

.dropdown li a {
  display: block;
  
  i {
    font-size: $header-font-size + 2pt;
  }
  
  .v-border {
    display: inline;
    padding: 12px 0 13px 0;    
    border-left: 1px $header-highlight-color solid;
    margin: 0 5px;
  }
}

.dropdown li a:hover {
  background-color: $header-highlight-color;
}
		
		
