$main-background-color: #CCCCCC;

$header-color: #E87511;
$header-height: 40px;
$header-font-color: white;
$header-font-size: 10.5pt;
$header-dropdown-color: #505050;
$header-highlight-color: #434343;

$tab-bar-color: #F1903B;
$tab-bar-height: 30px;