$main-background-color: #CCCCCC;

$header-color: #E87511;
$header-height: 40px;
$header-font-color: white;
$header-font-size: 10.5pt;
$header-item-highlight-color: #696969;

$tab-bar-color: #F1903B;
$tab-bar-height: 30px;