/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, html {
  background-color: #CCCCCC;
  font-family: open_sans, helvetica, arial, sans-serif; }

nav {
  background-color: #E87511;
  height: 40px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0 10px; }
  nav li {
    float: left;
    line-height: 40px;
    font-size: 10.5pt; }
    nav li span {
      padding: 0 4px; }
    nav li i:nth-last-child(-n+2) {
      font-size: 7pt; }
  nav a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 0 10px; }
    nav a:visited {
      color: white; }
    nav a:hover {
      color: white;
      background-color: #505050; }

nav ul li:hover > ul {
  display: block; }

nav ul {
  list-style: none;
  position: relative; }

nav ul:after {
  content: "";
  clear: both;
  display: block; }

nav ul li {
  float: left; }

nav ul li a {
  display: block; }

nav ul ul {
  display: none;
  border-radius: 0px;
  padding: 0;
  position: absolute;
  top: 100%; }

nav ul ul li {
  float: none;
  position: relative;
  background-color: #505050; }

.dropdown li a {
  display: block; }
  .dropdown li a i {
    font-size: 12.5pt; }
  .dropdown li a .v-border {
    display: inline;
    padding: 12px 0 13px 0;
    border-left: 1px #434343 solid;
    margin: 0 5px; }

.dropdown .h-border {
  width: 100%;
  border-bottom: 1px #434343 solid; }

.dropdown li a:hover {
  background-color: #434343; }

#tab-bar {
  background-color: #F1903B;
  height: 30px;
  border-bottom: white 6px solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 10.5pt;
  color: #E87511; }
  #tab-bar .tab {
    float: left;
    margin: 5px 0 0 5px;
    padding: 5px 10px 0 10px;
    height: 20px;
    border-radius: 7px 7px 0 0;
    background-color: white;
    color: #E87511;
    text-decoration: none; }
    #tab-bar .tab .close-tab i {
      color: white; }
