@import 'reset';
@import 'variables';

body, html {
  background-color: $main-background-color;
  font-family: open_sans, helvetica, arial, sans-serif;
}

@import 'dropdown';

#tab-bar {
  background-color: $tab-bar-color;
  height: $tab-bar-height;
  border-bottom: $header-font-color 6px solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: $header-font-size;
  color: $header-color;
  
  
  .tab {
    float: left;
    margin: 5px 0 0 5px;
    padding: 5px 10px 0 10px;
    height: 20px;
    border-radius: 7px 7px 0 0 ;
    background-color: $header-font-color;
    color: $header-color;
    text-decoration: none;
    
    
    .close-tab i {
      color: $header-font-color;
    }
  }
}